<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Text Utils-Results </title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://codewithharry.com/static/photo.png">
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TextUtils.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome! This Is Brief Info About Textutils.in .</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
<h1 style="padding-top:10px"> Welcome to Textutils.in </h1>
  <p style="font-size:20px">Here is a brief info about all the string manipulation that I have used so far.
    Please take note that this is a work in progress and can be improved enev better.
    If you do so notice any correction or any suggestions, please send me an email.</p>
</div>
<div style="padding-left:50px" class="container">
  <h3>Features We cover</h3>
  <ul style="font-size:18px">
    <li>
      <div><strong>Remove Punctuations &ndash;</strong> This Feature Allows you to remove all the punctuations such as
        ",./;'[]\/*<>?:"{}|()" from the given text .</div>
    </li><br>
    <li>
      <div><strong>New Line Remover &ndash;</strong> This Feature Allows you to remove all the extra new lines which
        are sometimes printed by mistake from the given user .</div>
    </li><br>
    <li>
      <div><strong>Capitalise &ndash;</strong> This Feature Allows you to capitalise all the text provided by the user .</div>
    </li><br>
    <li>
      <div><strong>Extra Space Remover &ndash;</strong> This Feature Allows you to remove all the extra spaces present between the tex .</div>
    </li><br>

  </ul>
</div>
<footer class="card-footer text-muted bg-dark" style="text-align:center; position:fixed; bottom:0; width:100%">
    TEXTUTILS
  </footer>

</body>
</html>